.prefaceouter{
    width: 100%;
    margin: auto;
    font-family: 'Lato';
    padding-bottom: 75px;
    padding-top: 10px;
    position: relative;
}

.prefacemobileheader{
    display: none;
}

.prefaceouter > .line{
    width: 49%;
    border: 2px solid black;
    position: absolute;
    top: 21%;
}

.preface{
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: auto;
}
.prefaceleft{
    height: 480px;
}

.prefaceleft > .ui.image.ceo-img{
    height: 100%;
    width: 96%;
    margin-left: 17px;
}

.shortintro{
    background-color: #4F7C5B;
    height: 70px;
    width: 63%;
    color: white;
    text-align: justify;
    font-size: 1.5vw;
    line-height: 1.2;
    padding: 10px 10px 25px 20px;
    position: absolute;
    left: 44%;
    top: 90%;
}

.shortintro > p {
    font-size: 1.3vw;
}

.prefaceleft{
    position: relative;
}


.prefaceright{
    position: relative;
}

.prefaceright > .prefaceheader{
    padding-left: 100px;
    padding-bottom: 8px;
    font-size: 4.2vw;
    color: #132E18;
}

.prefaceright > p{
    padding: 40px 0px 0px 24px;
    line-height: 1.2;
    width: 91%;
    font-size: 1.6vw;
    font-weight: 400;
    text-align: justify;
}

.ui.button.prefacemore{
    position: absolute;
    padding: 7px 17px 10px 17px;
    left: 74%;
    top: 93%;
    /* top: 420px; */
    font-size: 1.6vw;
    background-color: #132E18;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius:  30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

@media only screen and (max-width: 600px) {

    .prefaceleft{
        display: block;
    }

    .prefaceheader{
        display: none;
    }
    .prefacemobileheader{
        display: block;
        font-size: 9.2vw;
        font-weight: 700;
        color: #132E18;
        text-align: center;
    }
    .prefaceouter{
        padding-top: 10%;
        padding-bottom: 30px;
    }

    .preface{
        display: block;
    }

    .prefaceleft{
        padding-top: 90px;
        width: 65%;
        height: 100%;
        margin: auto;
    }

    .prefaceleft > .ui.image.ceo-img{
        width: 100%;
        margin: auto;
    }


    .prefaceouter > .line{
        width: 52%;
        border: 2px solid black;
        position: absolute;
        top: 120px;
    }

    .shortintro{
        width: 65%;
        height: 14%;
        font-size: 3.6vw;
        position: absolute;
        left: 40%;
        top: 95%;
    }

    .shortintro > p {
        font-size: 3.2vw;
    }

    .prefaceright{
        height: 380px;
    }
    
    .prefaceright > p{
        font-size: 3.2vw;
        padding-top: 80px;
    }

    .ui.button.prefacemore{
        position: absolute;
        padding: 10px 17px 10px 20px;
        left:63%;
        top: 85%;
        /* top: 320px; */
        font-size: 3.4vw;
    }

}@media only screen and (max-width:468px){
    .prefaceouter > .line {
        top:90px;
      }
      .prefaceright > p {
        width: 100%;
        font-size: 4vw;
        padding: 20% 20px;
    }
    .prefaceright {
          height:400px;
      }
      .ui.button.prefacemore{
        top: 90%;
    }
}

@media only screen and (max-width : 360px){
    .shortintro{
        font-size: 3.4vw;
    }
    .ui.button.prefacemore{
        top: 75%;
    }
    .prefaceouter{
        padding-bottom: 0px;
    }
}