.position{
    background-image:url("../../../Assets/position_bg.png");
    height: auto;
    text-align: center;
    color:white;
    margin-top: 5%;
    padding-top: 60px;
}
.position > h1{
    font-size: 3.9vw;
}
.position > h1 >span{
    color: #B3BB92;
}
.position_hr{
    background-color: white;
    height: 3px;
    width: 50%;
}
.grid{
    display: grid;
    width: 88%;
    padding:5% 0px ;
    margin: auto;
    grid-template-columns: repeat(4,minmax(0, 1fr));
}
.grid > div{
    width: 90%;
}
.position_txt > p{
    /* border: 1px solid red; */
    color:#4F7C5B;
    font-weight :bold;
    height: 90px;
    font-family: 'Lato' !important;
    text-align: left;
    background-color: white;
    padding: 15px;
    font-size: 1.4vw;
}
.ui.modal.careerModal{
    /* border: 1px solid red; */
    height: 50% !important;
    width: 45% !important;
}
.ui.modal.careerModal > .content{
    /* width: 80%; */
    padding: 40px;
}

.modal{
    display: flex;
    /* padding: 10px; */
    width: 90%;
    height: 50%;
    /* padding: 20px; */
}

.modal_div{
    /* border: 1px solid red; */
    width: 30%;
    position: relative;
}
.modal_text{
    /* border: 1px solid rgb(9, 255, 0); */
    padding: 10px;
    font-weight :600;
    width:80%;
    bottom: -3%;
    height: 110px;
    background-image: linear-gradient(to bottom,rgba(7, 7, 7, 0),rgba(92, 104, 95, 0.068),rgba(73, 83, 71, 0.5),rgba(51, 59, 53, 0.815),rgba(17, 19, 17, 0.856),rgba(7, 7, 7, 0.959), rgba(7, 7, 7, 0.89),rgba(12, 12, 12), rgb(37, 36, 36));
    color: white;
}
.modal_text > p{
    margin-left: 20px ;
    margin-top: 50px;
    width: 80%;
    font-size: 1.16vw;
}

.modal_div > div{
    position: absolute;
    width:95%;
}
.modal_div > div > .ui.image{
    width: 100%;
    height:380px !important;
}

@media only screen and (max-width:600px) {
    .position > h1{
        font-size: 6.9vw;
    }
    .grid > div{
    width: 90%;
    height: 75%;
}
.grid{
    
    width: 85%;
    height: 300px;
    padding:5% 0px ;
}
.grid > div >.ui.image{
    width: 100% !important;
    height: 85% !important;
}
.position_txt > p{
    /* border: 1px solid red; */
    height: 100%;
    font-weight :900;
    padding:5px;
    /* width: 100%; */
    font-size: 1.45vw;
    line-height: 1.7vw !important;
}
.position_txt{
    height: 20%;
}
}

@media only screen and (max-width:468px) {
    .position > h1{
        font-size: 6.9vw;
    }
    .grid > div{
    width: 90%;
    height: 75%;
}
.grid{
    
    width: 95%;
    height: 230px;
    padding:5% 0px ;
}
.grid > div >.ui.image{
    width: 100% !important;
    height: 85% !important;
}
.position_txt > p{
    /* border: 1px solid red; */
    height: 100%;
    font-weight :900;
    padding:5px;
    /* width: 100%; */
    font-size: 1.57vw;
    line-height: 1.7vw !important;
}
.position_txt{
    height: 20%;
}
}